.authLoader{
    width: 100%;
    height: 4px;
    background:none;
    position: relative;
    overflow: hidden;
}

.authLoader::after{
    content: '';
    width: 98%;
    height: 98%;
    background-color: rgb(48, 67, 245);
    position: absolute;
    animation: load 300ms linear 1;
}

@keyframes load{
    0%{
        width: 0;
    }
    100%{
        width: 100%;
    }
}

.mainLoader{
  justify-content: center;
  align-items:center;
  position:relative;
  overflow:hidden;
  display:block;
  width:100px;
  border:0px;
  height:3px;
  border-radius: 24px;
  background-color:rgba(80, 80, 80, 0.24);
}

.mainLoader::before
{
  content:"";
  display:block;
  position:absolute;
  background-color:rgb(48, 67, 245);
  width:40px;
  left:-20px;
  height:10px;
  animation: my 1s infinite ease;
}

@keyframes my
{
  50%{
    left:75px;
  }
}