.signIn__Card{
    width: 440px;
    background-color: #fff;
    border-radius: 6px;
    position: absolute;
    top: 8rem;
    overflow: hidden;
    box-shadow: 0px 0px 6px 1px #0a0a0a2d;
    box-sizing: border-box;
}

.signIn__inner{
    display: flex;
    align-items: center;
    width: 90%;
    padding-bottom: 20px;
    margin-left: 20px;
    margin-top: 20px;
    flex-direction: column;
}

.signIn__Card .error{
    width: 90%;
    visibility: hidden;
}

.signIn__Card .showError{
    visibility: visible;
}

.signIn__Card .error>p{
    margin:0;
    height: 24px;
    display: flex;
    align-items: center;
    background-color: rgba(255, 0, 0, 0.205);
    border-radius: 6px;
    font-size: 14px;
    padding-left: 10px;
    font-weight: bolder;
    color: rgb(199, 15, 15);
}

.signIn__Card .headline{
    display: flex;
    width: 90%;
    margin-left: 20px;
    flex-direction: column;
}

.signIn__Card .headline>h3{
    font-size: 28px;
}

.signIn__Card .headline>p{
    margin:0;
    margin-top: -15px;
}

.signIn__inner .emailInput>label, .signIn__inner .passwordInput>label{
    position: absolute;
    color: rgb(107, 107, 107);
    margin: 0px;
    font-size: 20px;
    width: 90%;
    pointer-events: none;
    transition: 200ms;
}

.signIn__inner .emailInput, .signIn__inner .passwordInput{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height:51px;
    position: relative;
    border: 1px solid rgb(107, 107, 107);
    border-radius: 6px;
    margin-top: 24px;
}

.signIn__inner .emailInput>p, .signIn__inner .passwordInput>p{
    margin:0;
}

.signIn__inner>.emailInput>input, .signIn__inner>.passwordInput>input{
    outline: 0px;
    border: 0;
    border-radius: 6px;
    width: 100%;
    height: 95%;
    font-size: 20px;
}

.signIn__inner .passwordInput>input:focus,
.signIn__inner .emailInput>input:focus{
    height: 50%;
    width: 90%;
    margin-top: 10px
}

.signIn__inner .passwordInput>input:focus~.emailInput,
.signIn__inner .emailInput>input:focus~.passwordInput{
   width: 100%;
}

.signIn__inner .emailInput>input:focus~label,
.signIn__inner .passwordInput>input:focus~label{
    font-size: 14px;
    position: absolute;
    color: black;
    margin-bottom: 32px;
}

.signIn__inner .agreement{
    font-size: 12px;
    text-align: center;
}

.signIn__inner .agreement span{
    font-weight: bolder;
    color: rgb(29, 52, 250);
}

.signIn__inner button{
    margin-top: 50px;
    background-color: rgb(29, 52, 250);
    border-radius: 30px;
    border:0;
    font-size: 14px;
    color: #fff;
    height: 52px;
    width: 90%;
    transition: 200ms;
    cursor: pointer;
}

.signIn__inner button:hover{
    background-color: rgb(23, 38, 173);
}

.signIn__Card>p{
    margin: 0ex;
    text-align: center;
    margin-top: 10px;
    font-size: 16px;
    padding-bottom: 10px;
}

.signIn__Card>p>a{
    text-decoration: none;
    color: rgb(29, 52, 250);
    font-weight: bolder;
    transition: 200ms;
}

.signIn__Card>p>a:hover{
    color: rgb(95, 29, 250);
    text-decoration: underline;
}